@import "./partials/bootstrap-overrides.scss";
.cartCol {
  position: sticky;
  top: 56px;
  height: 100vh;
  overflow: scroll;
}
.total {
  position: sticky;
  bottom: 56px;
  background-color: white;
}
.cartDiv {
  height: 100%;
}
li {
  margin-block: 5px;
}
.cart {
  margin-bottom: 66px;
}

main {
  height: 100vh;
  padding-block: 1rem;
  background: #c377d1;
  background: linear-gradient(90deg, rgba(195, 119, 209, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
#subtitle {
  font-family: cursive;
}
input[type="text"],
input[type="url"],
input[type="number"],
.form-control {
  border: 0;
  background-color: rgba(0, 0, 0, 0.138);
  color: white;
}
input[type="text"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
.form-control:focus {
  border: 0;
  background-color: rgba(0, 0, 0, 0.138);
  color: white;
}
form {
  position: relative;
}
#alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

::-webkit-input-placeholder {
  color: white;
}

li::marker {
  content: none;
}

#trasparent {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #44444400;
}
.shake {
  animation: shake 200ms infinite;
}
@keyframes shake {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
