@import "./partials/bootstrap-overrides.scss";

.cartCol {
  position: sticky;
  top: 56px;
  height: 100vh;
  overflow: scroll;
}
.total {
  z-index: 2;
  position: sticky;
  bottom: 56px;
  background-color: white;
}
.cartDiv {
  height: 100%;
}
li {
  margin-block: 5px;
}
.cart {
  margin-bottom: 66px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  padding: 0;
}
.card {
  margin-top: 15px;
  overflow: hidden;
  .text-center {
    cursor: pointer;
  }
}
main {
  height: 100%;
  background: #c377d1;
  background: linear-gradient(90deg, rgba(195, 119, 209, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

#subtitle {
  font-family: cursive;
  background-color: rgba(128, 128, 128, 0.291);
}
#modify-msg {
  color: rgb(29, 255, 4);
}

input[type="text"],
input[type="url"],
input[type="number"],
.form-control {
  border: 0;
  background-color: rgba(0, 0, 0, 0.138);
  color: white;
}
input[type="text"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
.form-control:focus {
  border: 0;
  background-color: rgba(0, 0, 0, 0.138);
  color: white;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.138) !important;
}
#index-nav {
  background-color: $light !important;
}
#background {
  position: relative;
}
#form-id {
  position: absolute;
  width: 250px;
  right: 0;
}
#idInput {
  background-color: rgba(0, 0, 0, 0);
}
#idInput:hover {
  background-color: rgba(0, 0, 0, 0.138);
}
form {
  position: relative;
}
#alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

::-webkit-input-placeholder {
  color: white;
}

li::marker {
  content: none;
}

#trasparent {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #44444400;
}

#follow {
  color: $primary;
  background-color: $light;
  border: 2px solid $primary;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  z-index: 1;
  transform: translate(-45%, 50%);
  position: absolute;
  opacity: 0;
}

.shake {
  animation: shake 200ms infinite;
}
@keyframes shake {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-55%, -50%);
  }
  50% {
    transform: translate(-45%, -50%);
  }
  75% {
    transform: translate(-55%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
